# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [1]:
number = 123
print(number)
print(type(number))

123
<class 'int'>

##### Assinging float

In [2]:
my_float = 123.123
print(my_float)

123.123

#### Performing Calculations on ints and floats

##### Addition

In [3]:
print(2+3)
my_var1 = 2
my_var2 = 3
print(my_var1+my_var2)

5
5

##### Subtraction

In [6]:
num1 = 2
num2 = 5.7

result_diff = num1 - num2
print(result_diff)

-3.7

##### Multiplication

In [7]:
result_prod = num1 * num2
print(result_prod)

11.4

##### Division

In [8]:
results_div = 4/2
print(results_div)

2.0

##### Floor Division

In [9]:
result_floor = 5 // 2
print(result_floor)

2

##### Modulo

In [10]:
result_mod = 5 % 2
print(result_mod)

1

##### Exponential

In [14]:
square = 5 ** 2
print(square)
square**=2
print(square)

25
625

### String Input-Output

##### String Assignment

In [15]:
name = "Kyle"
print(name)

Kyle

##### print() <br>
<p>Don't forget about end=' '</p>

In [16]:
name = "Kyle"
print('Hello', name, "The dogs are no good", "Get ready to get Stung!")
print("done")

Hello Kyle The dogs are no good Get ready to get Stung!
done

##### String Concatenation

In [19]:
first = "Kyle"
last = "Largent"
full_name = first + ' ' + last
print(full_name)
full_name += " is dope"
print(full_name)

Kyle Largent
Kyle Largent is dope

##### Type Conversion

In [20]:
num1 = 3
num2 = "4"

print(num1 + int(num2))

7

##### input()

In [23]:
age = int(input("What is your age?")

print(age)
print(type(age))

What is your age?123
123
<class 'int'>

##### Old Way (python 2)

In [29]:
age = "35"
result_str = 'You are %s and you look great for your age!' %age
print(result_str)

You are 35 and you look great for your age!

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [33]:
year = int(input("What is the year of your vehicle? "))
make = (input("What is the make of your vehicle? "))
model = (input("What is the model of your vehicle? "))
color = (input("What is the color of your vehicle? "))
sentance = f'You drive a {color} {year} {make} {model}!'
print(sentance)

What is the year of your vehicle? 2015
What is the make of your vehicle? Toyota
What is the model of your vehicle? Tundra
What is the color of your vehicle? Blue
You drive a Blue 2015 Toyota Tundra!

### If Statements

In [40]:
num1 = 2
num2 = 10
if num1 != num2:
    print("Not Equal")
else:
    print("Equal")

Not Equal

##### 'is' keyword

In [42]:
x = None
print(x)
print(x is None)
print(x is not None)

None
True
False

##### 'in' keyword

In [44]:
#membership checks
char_name = "Max Payne"
if 'Max' in char_name:
    print("The character who lost everything...")

The character who lost everything...

##### 'not in' keyword'

In [45]:
sega_char = "Sonic"
if "S" not in sega_char.upper():
    print("S is not in the name...")
else:
    print("The word has an S")

The word has an S

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [46]:
question = input("Please type in something")
if 'p' in question:
    print("there is a lowercase p somewhere in what you fed me")

Please type in somethingsupercalifragalisticexpialidocious
there is a lowercase p somewhere in what you fed me

## Using 'and'/'or' with If Statements

### Elif Statements

### Else Statements

### For Loops

In [49]:
name = "Gareth"

for letter in name:
    print(f'the next letter is {letter}')
    print('another line')
print('a third line')

the next letter is G
another line
the next letter is a
another line
the next letter is r
another line
the next letter is e
another line
the next letter is t
another line
the next letter is h
another line
a third line

##### Using 'in' keyword

##### Continue Statement

In [65]:
name = "Gareth"

for letter in name:
    if letter =='r':
        print("THE LETTER IS R")
        continue
        
    print(f'the next letter is {letter}')
    print('another line')

the next letter is G
another line
the next letter is a
another line
THE LETTER IS R
the next letter is e
another line
the next letter is t
another line
the next letter is h
another line

0
1
2
3
4
6
7
8
9
10
11
12
13
14
15
16
17
18
19

##### Break Statement

In [66]:
name = "Gareth"

for letter in name:
    if letter =="r":
        print('THE LETTER IS R')
        break
    print(f'the next letter is {letter}')
    print('another line')

the next letter is G
another line
the next letter is a
another line
THE LETTER IS R

0
1
2
3
4

##### Pass Statement

In [67]:
name = "Gareth"

for letter in name:
    pass
   
print('rest of program')

rest of program

In [68]:
foods = ['pizza', 'tacos', 'dimsum', 'sushi']
for food in foods:
    print(food)
len(foods)

pizza
tacos
dimsum
sushi

##### Double For Loops

In [70]:
counter = 0
    
for i in range(5):
    for j in range(5):
        counter+=1
        print(f'i={i} j={j} total={counter}')
    print()

i=0 j=0 total=1
i=0 j=1 total=2
i=0 j=2 total=3
i=0 j=3 total=4
i=0 j=4 total=5

i=1 j=0 total=6
i=1 j=1 total=7
i=1 j=2 total=8
i=1 j=3 total=9
i=1 j=4 total=10

i=2 j=0 total=11
i=2 j=1 total=12
i=2 j=2 total=13
i=2 j=3 total=14
i=2 j=4 total=15

i=3 j=0 total=16
i=3 j=1 total=17
i=3 j=2 total=18
i=3 j=3 total=19
i=3 j=4 total=20

i=4 j=0 total=21
i=4 j=1 total=22
i=4 j=2 total=23
i=4 j=3 total=24
i=4 j=4 total=25

### While Loops

In [72]:
num = 0
while num < 10:
    print(num)
    num += 1

0
1
2
3
4
5
6
7
8
9

##### Looping 'While True'

In [75]:
while True:
    print('hello')
    num=int(input("Guess the magic number?"))
    if num == 5:
        break

hello
Guess the magic number?1
hello
Guess the magic number?2
hello
Guess the magic number?3
hello
Guess the magic number?4
hello
Guess the magic number?6
hello
Guess the magic number?7
hello
Guess the magic number?8
hello
Guess the magic number?5

##### While & For Loops Used Together

In [77]:
num = 0
total = 0
while num < 5:
    print('while loop iteration: ', num)
    for i in range(5):
        total += 1
        print("for loop iteration: ", i)
        print("Total times inner loop ran", total)
    num += 1

while loop iteration:  0
for loop iteration:  0
Total times inner loop ran 1
for loop iteration:  1
Total times inner loop ran 2
for loop iteration:  2
Total times inner loop ran 3
for loop iteration:  3
Total times inner loop ran 4
for loop iteration:  4
Total times inner loop ran 5
while loop iteration:  1
for loop iteration:  0
Total times inner loop ran 6
for loop iteration:  1
Total times inner loop ran 7
for loop iteration:  2
Total times inner loop ran 8
for loop iteration:  3
Total times inner loop ran 9
for loop iteration:  4
Total times inner loop ran 10
while loop iteration:  2
for loop iteration:  0
Total times inner loop ran 11
for loop iteration:  1
Total times inner loop ran 12
for loop iteration:  2
Total times inner loop ran 13
for loop iteration:  3
Total times inner loop ran 14
for loop iteration:  4
Total times inner loop ran 15
while loop iteration:  3
for loop iteration:  0
Total times inner loop ran 16
for loop iteration:  1
Total times inner loop ran 17
for loop iteration:  2
Total times inner loop ran 18
for loop iteration:  3
Total times inner loop ran 19
for loop iteration:  4
Total times inner loop ran 20
while loop iteration:  4
for loop iteration:  0
Total times inner loop ran 21
for loop iteration:  1
Total times inner loop ran 22
for loop iteration:  2
Total times inner loop ran 23
for loop iteration:  3
Total times inner loop ran 24
for loop iteration:  4
Total times inner loop ran 25

### Built-In Functions

##### range()

In [79]:
#range(start, stop, step)
#range(stop)
#range(start, stop)



list(range(0, 5, 2))

[0, 2, 4]

##### len()

In [81]:
len('hey')
len(str(1234))

4

##### help()

In [82]:
 help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      self != 0
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

##### isinstance()

In [83]:
num = 1
isinstance(num, str)

False

##### abs()

In [84]:

print(abs(-5))

5

### Try and Except

### Lists

##### Declaring Lists

In [51]:
names = ['vanessa', 'patrick', 'moises', 'armani']
print(names[1])

patrick

##### Indexing a List

In [54]:
print(names[1])

a_list = [1, 2, 3, ['a', 'b', 'c'], 4]
inner_list = a_list[3]
print(inner_list[1])
print(a_list[3][1])


my_string = 'racecar'
if my_string == my_string [::-1]:
    print('its a palindrome')

patrick
b
b
its a palindrome

##### .append()

In [55]:
names = ['vanessa', 'patrick', 'moises', 'armani']
names.append('ramika')
print(names)

['vanessa', 'patrick', 'moises', 'armani', 'ramika']

##### .insert()

In [57]:
names = ['vanessa', 'patrick', 'moises', 'armani']
names.insert(2, "Sabrina")
print(names)

['vanessa', 'patrick', 'Sabrina', 'moises', 'armani']

##### .pop()

In [58]:
names = ['vanessa', 'patrick', 'moises', 'armani']
new_class=[]
new_class.append(names.pop())
print(new_class)

['armani']


##### .remove()

In [59]:
names.remove('vanessa')
print(names)

['patrick', 'moises']

##### del()

In [17]:
names = ['vanessa', 'patrick', 'moises', 'armani']

##### Concatenating Two Lists

In [64]:
l1 = [1, 2, 3]
l2 = [4, 5, 6]
l1 + l2


l2.extend(l1)

##### Lists Within Lists

##### Looping Through Lists

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000, so if the cubed number is over 1000 break the loop.</p>

In [127]:
for x in range(1, 1001):
    print(x**3)
    if x**3 >=1000:
        break

1
8
27
64
125
216
343
512
729
1000

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [160]:
number = 0
i = 1
while number<25:
    i+=1
    y=1
    for j in range(2, i):
        if i%j==0:
            y=0
            break
    if y==1:
        print(i, end=' ')
        number+=1

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [ ]:
age=int(input("What is your age?"))
if age < 18:
    print("You're a kid")
elif age < 66:
    print("You're an adult")
else:
    print("You'll die soon")